<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434582337858-moapcu8rg4qgmun2ir9g899b7t4uk0fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434582337858-moapcu8rg4qgmun2ir9g899b7t4uk0fd</string>
	<key>API_KEY</key>
	<string>AIzaSyBxS-2IcAIYwDkE9HWgBfzmzCwaQx_7GaA</string>
	<key>GCM_SENDER_ID</key>
	<string>434582337858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devintech.mywashcard</string>
	<key>PROJECT_ID</key>
	<string>my-wash-card</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wash-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434582337858:ios:1cb3bf9757e9cae81b70db</string>
</dict>
</plist>